---
name: Force build and publish container

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
permissions:
  contents: write
  packages: write
  
jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Get latest release of caddy docker container
      id: latest_release
      run: echo release=$(curl --silent "https://api.github.com/repos/caddyserver/caddy/releases/latest" | jq -r '.tag_name') >> $GITHUB_OUTPUT
    
    - name: Get lowercase repo name
      id: get_lowercase_repo_name
      run: |
        REPO_NAME=${{ env.IMAGE_NAME }} 
        echo "LOWER_CASE_REPO_NAME=${REPO_NAME,,}" >> $GITHUB_ENV
      
    - name: Get previous release tag
      id: previous_release
      run: echo release=$(curl --silent "https://api.github.com/repos/${{ github.actor }}/caddy-cloudflare/releases/latest" | jq -r '.tag_name' ) >> $GITHUB_OUTPUT

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: "{{defaultContext}}:caddy-cloudflare/"
        platforms: linux/arm/v7,linux/arm64/v8,linux/amd64
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.LOWER_CASE_REPO_NAME }}:latest,${{ env.REGISTRY }}/${{ env.LOWER_CASE_REPO_NAME }}:${{ steps.latest_release.outputs.release }}

    - name: Create release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.latest_release.outputs.release }}
        name: "${{ steps.latest_release.outputs.release }}"
        body: |
          Changelog found on [caddy github](https://github.com/caddyserver/caddy/releases), please read the changes before updating.
          You can update the docker image with:
          ```
          docker compose pull
          docker compose up -d
          ```
      if: ${{ steps.latest_release.outputs.release != steps.previous_release.outputs.release }}
